<div id="<%= dom_id user_temp_admin %>">
  <p>
    <strong>Name:</strong>
    <%= user_temp_admin.name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user_temp_admin.last_name %>
  </p>

  <p>
    <strong>Dni nro:</strong>
    <%= user_temp_admin.dni_nro %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user_temp_admin.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user_temp_admin.password %>
  </p>

  <p>
    <strong>Password confirmation:</strong>
    <%= user_temp_admin.password_confirmation %>
  </p>

</div>
