<nav class="navbar navbar-light is-warning">
  <a class="navbar-brand" href="">
    <%= image_submit_tag('ACA.png')%>
    <div class= "text-right">
         <%= link_to "Cerrar sesión", destroy_user_session_path, 'data-turbo.method': :delete, class:"button is-warning is-outlined is-light"%>
    </div>
  </a>
</nav>
<% flash.each do |type, msg| %>
  <% if type=="danger" %>
    <div class="alert alert-danger">
       <%= msg %>
    </div>
  <%end%>
  <% if type=="notice" %>
    <div class="alert alert-success">
     <%= msg %>
    </div>
  <%end%>
<% end %>
<br>
<%= link_to "Agregar Administrador",  new_user_temp_admin_path,class:"button is-warning is-outlined is-light" %>
<div class= "text-center">
<h1>Administradores en el sistema</h1>
</div>
<div class="table-wrapper">
    <table class="table table-bordered">
     <thead class="table-bordered">
        <tr class="table-warning">
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">DNI</th>
        </tr>
     </thead>
       <tbody>
        <% @admin.each  do |a| %>
         <tr>
            <td><%= a.name%></td>
            <td><%= a.last_name %> </td>
            <td><%= a.dni_nro%></td>
         </tr>
        <% end %>
       </tbody>
   </table>
   </div>
    <br>
<div class="field has-text-weight-bold actions text-center">
<%= link_to "Volver", user_admin_path ,class: "button is-warning is-outlined is-light"%>
</div>
