<div id="<%= dom_id user_temp_sup %>">
  <p>
    <strong>Name:</strong>
    <%= user_temp_sup.name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user_temp_sup.last_name %>
  </p>

  <p>
    <strong>Dni nro:</strong>
    <%= user_temp_sup.dni_nro %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user_temp_sup.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user_temp_sup.password %>
  </p>

</div>
