<div id="<%= dom_id car %>">
  <p>
    <strong>Patente:</strong>
    <%= car.patent %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= car.brand %>
  </p>

  <p>
    <strong>Model car:</strong>
    <%= car.model_car %>
  </p>

  <p>
    <strong>Seats:</strong>
    <%= car.seats %>
  </p>

  <p>
    <strong>Transmision:</strong>
    <%= car.transmision %>
  </p>

  <p>
    <strong>Fuel:</strong>
    <%= car.fuel %>
  </p>

  <p>
    <strong>Is available:</strong>
    <%= car.is_available %>
  </p>

  <p>
    <strong>Is enable:</strong>
    <%= car.is_enable %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= car.color %>
  </p>

  <p>
    <strong>Car number:</strong>
    <%= car.car_number %>
  </p>

  <p>
    <strong>Year model:</strong>
    <%= car.year_model %>
  </p>


</div>
