<section class="hero is-warning is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-4-widescreen box">
        <h2 class="is-size-3 has-text-centered">Registrarse</h2><br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="text-center">
  <%= render "users/shared/error_messages", resource: resource %>
  </div>
  <div class="field has-text-weight-bold has-text-centered">
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field has-text-weight-bold has-text-centered">
    <%= f.label :name,"Nombre" %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field has-text-weight-bold has-text-centered">
    <%= f.label :last_name,"Apellido" %><br>
    <%= f.text_field :last_name %>
  </div>

  <div class="field has-text-weight-bold has-text-centered">
    <%= f.label :phone,"Telefono" %><br>
    <%= f.text_field :phone %>
  </div>

  <div class="field has-text-weight-bold has-text-centered">
    <%= f.label :birthdate,"Fecha de Nacimiento" %><br>
    <%= f.date_field :birthdate, max: "2004-01-01T00:00", min:"1900-01-01T00:00" %><br><br>
  </div>

  <div class="field has-text-weight-bold has-text-centered">
    <%= f.label :dni_nro,"DNI" %><br>
    <%= f.text_field :dni_nro %>
  </div>

  <div class="field has-text-weight-bold has-text-centered">
    <%= f.label :dni,"Foto de DNI" %><br>
    <%= f.file_field :dni %>
  </div>

  <div class="field has-text-weight-bold has-text-centered">
    <%= f.label :license,"Foto de licencia de conducir" %><br>
    <%= f.file_field :license %>
  </div> 

  <div class="field has-text-weight-bold has-text-centered">
    <%= f.label :vencimiento_licencia,"Fecha de vencimiento Licencia" %><br>
    <%= f.date_field :vencimiento_licencia %><br><br>
  </div>
  
  <div class="field has-text-weight-bold has-text-centered">
    <%= f.label :password, "Contraseña" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field has-text-weight-bold has-text-centered">
    <%= f.label :password_confirmation, "Confirmar contraseña" %><br>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions has-text-centered">
    <%= f.submit "Registrarse",data: {turbo: false}, class:"button is-warning is-outlined is-light" %>
  </div>
<% end %>
<br>
  <div class="actions has-text-centered">
    <%= render "users/shared/links" %>
  </div>
</div>

</div>
</div>
</div>
</div>
</section>